<div class="ui row">
<br>
  <label><strong>Email:</strong></label> <%= profile.email %>
  <label><strong>Role:</strong></label> <%= profile.role %>
  <label><strong>Status:</strong></label> <%= profile.status %>
  <%# <strong>Created At:</strong> <%= user.created_at_formatted %><br />
  <%# <strong>Updated At:</strong> <%= user.updated_at_formatted %><br />

  <div><%= link_to "View", profile_path(profile) %></div>
  <div><%= link_to "Edit", edit_profile_path(profile) %></div>
  <div><%= link_to "Delete", profile_path(profile), method: :delete %></div> <br />
</div>