<div class="row">
  <div class="col-sm-4">
  </div>


  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <label><strong>Name:</strong></label> <br>
        <%= cohort.name %> <br>
        <label><strong>Start Date:</strong></label> <br>
        <%= cohort.start_date %> <br>
        <label><strong>End Date:</strong></label> <br>
        <%= cohort.end_date %> <br>
        <label><strong>Class Size:</strong></label> <br>
        <%= cohort.class_size %> <br>
        <label><strong>Course:</strong></label> <br>
        <%= cohort.course_id %> <br>
        <strong>Created At:</strong> <%= cohort.created_at_formatted %><br />
        <strong>Updated At:</strong> <%= cohort.updated_at_formatted %><br /> <br>

        <%= link_to "View", cohort_path(cohort), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_cohort_path(cohort), class: "btn btn-success" %>
        <%= link_to "Delete", cohort_path(cohort), method: :delete, class: "btn btn-danger" %></div> <br />
      </div>
    </div>
  </div>
</div>
<hr>