<h1>Edit Cohort</h1>
<%= link_to "Cancel", :back, class: "btn btn-secondary" %>
<hr>

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <%= bootstrap_form_with(model: @cohort) do |form| %>
          <%= form.text_field :name, label: "Name:" %>
          <%= form.date_field :start_date, label: "Start Date:" %>
          <%= form.date_field :end_date, label: "End Date:" %>
          <%= form.text_field :class_size, label: "Class Size:" %>
          <%= form.select :course_id, Course.all.collect { |p| [ p.name, p.id ] }, include_blank: true, label: "Course:" %>
        <%= form.submit class: "btn btn-primary", value: "Update"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
