<h1>Cohorts#new</h1>
<p>Find me in app/views/cohorts/new.html.erb</p>

<%= form_with(model: @course) do |form| %>
  Name: <%= form.text_field(:name) %> 
  Start Date: <%= form.text_field(:start_date) %> 
  End Date: <%= form.text_field(:end_date) %> 
  Class Size: <%= form.text_field(:class_size) %> 
  Course: <%= form.text_field(:course_id) %> 
<%= form.submit %>
<% end %>
