<div class="row" id="student<%= student.id %>">
  <div class="col-sm-4">
  </div>


  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <label><strong>First Name:</strong></label> <br>
        <%= student.first_name %> <br>
        <label><strong>Last Name:</strong></label> <br>
        <%= student.last_name %> <br>
        <label><strong>Age:</strong></label> <br>
        <%= student.age %> <br>
        <label><strong>Education:</strong></label> <br>
        <%= student.education %> <br> <br>
        <strong>Created At:</strong><%= student.created_at_formatted %><br />
        <strong>Updated At:</strong><%= student.updated_at_formatted %><br /> <br>

        <%= link_to "View", student_path(student), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_student_path(student), class: "btn btn-success" %>
        <%= link_to(student_path(id: student.id), method: :delete, remote: true) do %>
        <span>"delete"</span>
        <% end %>
      </div>
    </div>
  </div>
<hr>
</div>
