<div class="ui row">
<br>
  <label><strong>Username:</strong></label> <%= instructor.first_name %>
  <label><strong>Password:</strong></label> <%= instructor.last_name %>
  <label><strong>age:</strong></label> <%= instructor.age %>
  <label><strong>education:</strong></label> <%= instructor.salary %>
  <label><strong>Password:</strong></label> <%= instructor.education %>
  <%# <strong>Created At:</strong> <%= user.created_at_formatted %><br />
  <%# <strong>Updated At:</strong> <%= user.updated_at_formatted %><br />

  <div><%= link_to "View", instructor_path(instructor) %></div>
  <div><%= link_to "Edit", edit_instructor_path(instructor) %></div>
  <div><%= link_to "Delete", instructor_path(instructor), method: :delete %></div> <br />
</div>