<div class="row" id="instructor<%= instructor.id %>">
  <div class="col-sm-4">
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <label><strong>First Name:</strong></label> <br>
        <%= instructor.first_name %> <br>
        <label><strong>Last Name:</strong></label> <br>
        <%= instructor.last_name %> <br>
        <label><strong>Age:</strong></label> <br>
        <%= instructor.age %> <br>
        <label><strong>Salary:</strong></label> <br>
        <%= instructor.salary %> <br>
        <label><strong>Education:</strong></label> <br>
        <%= instructor.education %> <br><br>
        <strong>Created At:</strong> <%= instructor.created_at_formatted %> <br />
        <strong>Updated At:</strong> <%= instructor.updated_at_formatted %> <br /> <br>

        <%= link_to "View", instructor_path(instructor), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_instructor_path(instructor), class: "btn btn-success" %>
        <%= link_to "Delete", instructor_path(instructor), method: :delete, class: "btn btn-danger" %> <br />
      </div>
    </div>
  </div>
</div>
<hr>