<h1>Add Instructor</h1>
<%= link_to "Back", :back, class: "btn btn-secondary" %>
<hr>

<div class="row">
  <div class="col-sm-4">
  </div>


  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <%= bootstrap_form_with(model: @instructor) do |form| %>
          <%= form.text_field :first_name, label: "First Name:" %>
          <%= form.text_field :last_name, label: "Last Name:" %> 
          <%= form.text_field :age, label: "Age:" %>
          <%= form.text_field :salary, label: "Salary:" %>
          <%= form.select :education, ['High School', 'College', 'Masters', 'PhD'], include_blank: true, label: "Education:" %> <br>
          <%= form.select :cohort_id, Cohort.all.collect { |p| [ p.name, p.id ] }, include_blank: true, label: "Cohort:" %>
          <%= form.submit class: "btn btn-primary", value: "Add Instructor" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
