    <div class="ui row">
    <br>
      <label><strong>Username:</strong></label> <%= user.username %>
      <label><strong>Password:</strong></label> <%= user.password %>
      <%# <strong>Created At:</strong> <%= user.created_at_formatted %><br />
      <%# <strong>Updated At:</strong> <%= user.updated_at_formatted %><br />

      <div><%= link_to "View", user_path(user) %></div>
      <div><%= link_to "Edit", edit_user_path(user) %></div>
      <div><%= link_to "Delete", user_path(user), method: :delete %></div> <br />
    </div>