<h1>Edit User</h1>
hr

<hr>
<div class="row">
  <div class="col-sm-4">
  </div>


  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">

      <%= form_with(model: @user) do |form| %>
        <strong><label>Name:</label></strong> <br>
        <%= form.text_field(:name) %><br />
        <label>Email:</label> <br>
        <%= form.text_field(:email) %><br />
        <label>Password:</label> <br>
        <%= form.password_field(:password) %><br /><br />
        <label>Password:</label> <br>
        <%= form.password_field(:password_confirmation) %><br /><br />
        <%= form.submit class: "btn btn-primary"%>
      <% end %>
            </div>
    </div>
  </div>
</div>
<hr>