<h1>Edit User</h1>
<%= link_to "Back", :back, class: "btn btn-secondary" %>
<hr>

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body form-group">
        <%= bootstrap_form_with(model: @user) do |form| %>
          <%= form.text_field :name, label: "Name:" %>
          <%= form.text_field :email, label: "Email:" %>
          <%= form.password_field :password, label: "Password:" %>
          <%= form.password_field :password_confirmation, label: "Confirm Password:" %>
          <%= form.submit class: "btn btn-primary", value: "Update"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>