<h1>Sign Up</h1>
<hr>

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <%= bootstrap_form_with model: @user do |f| %>
          <%= f.text_field :name, label: "Name:", placeholder: "Enter Name" %>
          <%= f.text_field :email, label: "Email:", placeholder: "Enter Email" %>
          <%= f.password_field :password, label: "Password:", placeholder: "Enter Password" %>
          <%= f.password_field :password_confirmation, label: "Password Confirmation:", placeholder: "Confirm Password" %>
          <%= f.submit class: "btn btn-primary btn-block", value: "Submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>