<h1>Sign Up</h1>
<hr>

<%# <%= form_with(model: @user) do |form| %>
  <%# Username: <%= form.text_field(:username) %>
  <%# Password: <%= form.password_field(:password) %>
  <%# <%= form.submit class: "btn btn-primary" %> 
<%# <% end %>

<div class="row">
  <div class="col-sm-4">
  </div>


  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <%= form_with model: @user do |f| %>
          <%= f.label :name %> <br>
          <%= f.text_field :name, class: "form-control", placeholder: "Enter Name" %><br />
          <%= f.label :email %> <br>
          <%= f.text_field :email, class: "form-control", placeholder: "Enter Email" %><br />
          <%= f.label :password %> <br>
          <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %><br />
          <%= f.label :password_confirmation %> <br>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %><br/><br>
          <%= f.submit class: "btn btn-primary", value: "Submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>