  <section class="main">
   <div class="container" "home">
    <div class="row">
      <div class="col-md-3"></div>
     <div class="col-md-6">
       <div class="list-group">
         <span class="list-group-item list-group-item-action active bg-dark">Dashboard</span>
         <a href="/users" class="list-group-item list-group-item-action">Users <span class="badge badge-secondary"><%= @users.size %></span></a>
         <a href="/courses" class="list-group-item list-group-item-action">Courses <span class="badge badge-secondary"><%= @courses.size %></span></a>
         <a href="/cohorts" class="list-group-item list-group-item-action">Cohorts <span class="badge badge-secondary"><%= @cohorts.size %> </span></a>
         <a href="/instructors" class="list-group-item list-group-item-action">Instructors <span class="badge badge-secondary"><%= @instructors.size %> </span></a>
         <a href="students" class="list-group-item list-group-item-action">Students <span class="badge badge-secondary"><%= @students.size %> </span></a>
        </div>     
     </div>
    </div>
   </div>
  </section>
​