<div class="row"id="course<%= course.id %>">
  <div class="col-sm-4">
  </div>


  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <label><strong>Name:</strong></label> <br>
        <%= course.name %> <br>
        <label><strong>Hours:</strong></label> <br>
        <%= course.hours %> <br>
        <strong>Created At:</strong> <%= course.created_at_formatted %><br /> 
        <strong>Updated At:</strong> <%= course.updated_at_formatted %><br /><br>

        <%= link_to "View", course_path(course), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_course_path(course), class: "btn btn-success" %>
        <%= link_to(course_path(id: course.id), method: :delete, remote: true) do %>
        <span class="btn btn-danger">Delete</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>