<h1>Cohortsstudents#new</h1>
<p>Find me in app/views/cohortsstudents/new.html.erb</p>

<%=@cohortsstudent%>

<%= form_with model: @cohortsstudents do |form| %>
  <%=form.text_field :student_id%>
  <%=form.text_field :cohort_id%>

  <%= form.submit%>
<% end %>